.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
}

.upperPart {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80vw;
    background-color: #1e1e1e;
    height: 266px;
    margin-top: 40px;
    padding: 20px 40px;
    border-radius: 16px;
    margin-bottom: 30px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1e1e1e;
    width: 1079px;
    height: 266px;
    padding: 20px 40px;
    border-radius: 16px;
}

.headerLeft {
    width: 529px;
    height: 226px;
    background-color: #1e1e1e;
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 30px;
    padding-top: 25px;
}

.headerLeft p,
.headerLeft span,
.headerLeft img {
    background-color: #1e1e1e;
}

.img {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 20px;
    background-color: #1e1e1e;
}

.img p {
    color: #FFFFFF80;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
}

.details {
    width: 275px;
}

.title {
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    padding-bottom: 12px;
}

.stats {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #FFFFFF80;
    padding-bottom: 12px;
    font-size: 15px;
    font-weight: 400;
}

.stats span,
.stats img {
    color: #FFFFFF80;
}

.headerRight {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    border-radius: 16px;
    width: 386px;
    height: 200px;
    padding: 40px 20px;
    border-radius: 16px;
    gap: 10px;
    background-color: #282828;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
}

.headerRight span {

    background-color: #282828;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 143px;
    height: 48px;
    padding: 18px 24px;
    border-radius: 35px;
    border: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    background-color: #FFFFFF;
    color: #121212;

}

.belowPart h3 {
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    color: #FFFFFFB2;
}

.tableContainer,
.tableHead,
.tableBody,
.rank,
.videoTitle,
.videoViews,
.videoLikes,
.videoComments,
.videoDate,
.estimation,
.midThumb {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tableContainer {
    flex-direction: column;
    width: 100%;
}

.tableHead {
    background-color: #1E1E1E;
    width: 1079px;
    height: 81px;
    margin-bottom: 2px;
    text-align: center;
}

.tableHead th {
    background-color: #1E1E1E;
}

.tableBody td {
    background-color: #1E1E1E80;
    text-align: center;
    color: #FFFFFFCC;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
}

.tableBody {
    background-color: #1E1E1E80;
    width: 1079px;
    height: 81px;
    margin-bottom: 2px;
    text-align: center;
}

.rank {
    width: 90px;
    height: 100%;
}

.tableHead .videoTitle {
    align-items: center;
}

.videoTitle {
    width: 230px;
    padding: 0px 20px;
    height: 45%;
    align-items: baseline;
    overflow: hidden;
    text-overflow: ellipsis;
}

.midThumb {
    width: 130px;
    height: 100%;
}

.videoViews,
.videoLikes,
.videoComments {
    width: 110px;
    height: 100%;
}

.videoDate,
.estimation {
    width: 130px;
    height: 100%;
}